body {
    background-color: #CFD8DC;
    padding: 0;
    margin: 0;
}

.wrapper-area {
    position: fixed;
    bottom: 0;
}

textarea {
    margin-bottom: 10px;
    float: left;
    width: 600px;
    height: 60px;
    resize: none;
}

button {
    display: block;
    margin-left: 10px;
    float: left;
    width: 120px;
    height: 66px;
}

.message-list {
    max-height: 600px;
    overflow-y: auto;
}

.wrapper {
    background-color: #ECEFF1;
    margin: 0 auto;
    max-width: 900px;
    min-height: 200px;
    padding: 3px 10px;
}

.message-user {
    background-color: #C8E6C9;
    max-width: 400px;
    padding: 10px;
    margin: 10px 0 10px;
    /*border: 1px solid black;*/
}
