html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #CFD8DC;
}

body {
    background: url("../img/background8.jpg") no-repeat center center fixed;
    background-size: cover;
}

textarea {
    display: block;
    float: left;
    width: 70%;
    min-height: 60px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    border: none;
    border-radius: 6px;
    border-top: 6px solid #29B6F6;
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow: hidden;
}

textarea, input, button  {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

textarea:focus, input:focus, button:focus {
    outline: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

button:hover, input:hover, textarea:hover {
    outline: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.wrapper {
    height: 100%;
    max-width: 50%;
    margin: 0 auto;
    background-color: #FFFDF6;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.message-list {
    height: calc(100% - 120px);
    overflow: auto;
}


.message-user, .remote-user {
    width: 51%;
    padding: 10px;
    margin: 10px 25px;
    font-size: 17px;
    border-radius: 7px;

}

.message-user {
    float: left;
    color: #fff;
    background-color: #29B6F6;
}

.remote-user {
    float: right;
    color: #555C65;
    background-color: #C9D6E3;
}

.wrapper-message-send {
    width: 50%;
    position: fixed;
    bottom: 0;
}

.button-send {
    display: block;
    float: left;
    width: 90px;
    height: 70px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
    background: url("../img/keyboard_return.png") no-repeat center center;
    background-color: #29B6F6;
}

.button-send:hover {
    outline: none;
    background-color: #4CAF50;
}


.popup {
    position: fixed;
    top: calc(50% - 180px);
    left: calc(50% - 210px);
    height: 360px;
    width: 420px;
    z-index: 100;
    background-color: #0091EA;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.hide-popup {
    display: none;
}

.user-name {
    display: block;
    width: 60%;
    color: #607D8B;
    font-size: 24px;
    margin: 70px auto 25px;
    padding: 10px;
    background-color: #FFFDF6;
    border: none;
    border-radius: 6px;
    border-top: 6px solid #4CAF50;
}

.button-send-username {
    display: block;
    border: none;
    height: 70px;
    width: 70px;
    margin: 0 auto;
    border-radius: 50px;
    background: url("../img/input_white_24.png") no-repeat center center;
    background-color: #29B6F6;
}

.button-send-username:hover {
    background-color: #4CAF50;
}

.background-popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../img/background1.jpg") no-repeat center center fixed;
    background-size: cover;
    z-index: 99;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

@media screen and (max-width: 1280px) {
    .wrapper {
        max-width: 75%;
    }
    .wrapper-message-send {
        width: 75%;
    }

}

@media screen and (max-width: 1024px) {
    body {
        background: url("../img/background15.jpg") no-repeat center center fixed;
        background-size: cover;
    }
    .wrapper {
        max-width: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
    .wrapper-message-send {
        width: 100%;
    }
    .button-send {
        height: 70px;
        width: 70px;
        border-radius: 50px;
        background: url("../img/send_white.png") no-repeat center center;
        background-color: #29B6F6;
    }
}
